.navbar a{
    color:white !important;
   
}
.navbar{
    /* background-color: rgb(255, 132, 0)!important; */
    height: 3.5rem !important;
}

.loader{
   width: 100vw;
   height: 120% !important;
   background-color: rgb(0, 0, 0,0.5) !important;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute!important;
   /* top: 200px!important; */
   top: 40% !important;
   left: 50% !important;
  
   transform: translate(-50%,-50%);
   
}
.loaderContent{
        color: white;
        width: 100vw;
        /* height: 100%; */
       
}